# Ignore binary files
*.class
bin/
target/
tmp/
logs/
build/

# Ignore system specific binaries
*.so
*.dll
*.dylib

# Ignore eclipse files
.settings/
.classpath
.project
.pmd

# Ignore windows auxilary files
Thumbs.db

# Ignore IntelliJ settings files
*.iml
.idea/

# Ignore Netbeans settings files
nb-configuration.xml

# Ignore log files
*.log
