<head>
    <!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
    <!--<script src="javascripts/jsnetworkx.js"></script>-->
    <script src="javascripts/odometer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>


    <script src="javascripts/demo.js"></script>

    <link rel="stylesheet" href="stylesheets/odometer-theme-car.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href="stylesheets/demo.css">
</head>

<main>
    <header>

    </header>

    <body>

    <h1>Scale-Out Distributed Ledger</h1>
    <table class="numbers_table">
        <tr class="labels">
            <td>Total #transactions</td>
            <td>Average #chains per proof</td>
            <td>Average #blocks per proof</td>
        </tr>
        <tr class="numbers">
            <td><div class="odometer_wrapper"><span class="odometer transactions"></span></div></td>
            <td><div class="odometer_wrapper"><span class="odometer chains"></span></div></td>
            <td><div class="odometer_wrapper"><span class="odometer blocks"></span></div></td>
        </tr>
    </table>

    <div id="demo-graph"></div>
    
    <div id="config"><div class="vis-configuration-wrapper"><div class="vis-configuration vis-config-item vis-config-s0"></div><div class="vis-configuration vis-config-item vis-config-s0"><div class="vis-configuration vis-config-header">edges</div></div><div class="vis-configuration vis-config-item vis-config-s2"><div class="vis-configuration vis-config-label vis-config-s2"><i><b>smooth:</b></i></div></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">enabled:</div><input class="vis-configuration vis-config-checkbox" type="checkbox"></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">type:</div><select class="vis-configuration vis-config-select"><option value="dynamic">dynamic</option><option value="continuous">continuous</option><option value="discrete">discrete</option><option value="diagonalCross">diagonalCross</option><option value="straightCross">straightCross</option><option value="horizontal">horizontal</option><option value="vertical">vertical</option><option value="curvedCW">curvedCW</option><option value="curvedCCW">curvedCCW</option><option value="cubicBezier">cubicBezier</option></select></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">forceDirection:</div><select class="vis-configuration vis-config-select"><option value="horizontal">horizontal</option><option value="vertical">vertical</option><option value="none">none</option></select></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">roundness:</div><input class="vis-configuration vis-config-range" min="0" max="1" step="0.05" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-item vis-config-s0"></div><div class="vis-configuration vis-config-item vis-config-s0"><div class="vis-configuration vis-config-header">physics</div></div><div class="vis-configuration vis-config-item vis-config-s2"><div class="vis-configuration vis-config-label vis-config-s2">enabled:</div><input class="vis-configuration vis-config-checkbox" type="checkbox"></div><div class="vis-configuration vis-config-item vis-config-s2"><div class="vis-configuration vis-config-label vis-config-s2"><i><b>barnesHut:</b></i></div></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">gravitationalConstant:</div><input class="vis-configuration vis-config-range" min="-30000" max="0" step="50" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">centralGravity:</div><input class="vis-configuration vis-config-range" min="0" max="10" step="0.05" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">springLength:</div><input class="vis-configuration vis-config-range" min="0" max="500" step="5" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">springConstant:</div><input class="vis-configuration vis-config-range" min="0" max="1.2" step="0.005" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">damping:</div><input class="vis-configuration vis-config-range" min="0" max="1" step="0.01" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-item vis-config-s3"><div class="vis-configuration vis-config-label vis-config-s3">avoidOverlap:</div><input class="vis-configuration vis-config-range" min="0" max="1" step="0.01" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-item vis-config-s2"><div class="vis-configuration vis-config-label vis-config-s2">maxVelocity:</div><input class="vis-configuration vis-config-range" min="0" max="150" step="1" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-item vis-config-s2"><div class="vis-configuration vis-config-label vis-config-s2">minVelocity:</div><input class="vis-configuration vis-config-range" min="0.01" max="1" step="0.01" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-item vis-config-s2"><div class="vis-configuration vis-config-label vis-config-s2">solver:</div><select class="vis-configuration vis-config-select"><option value="barnesHut">barnesHut</option><option value="forceAtlas2Based">forceAtlas2Based</option><option value="repulsion">repulsion</option><option value="hierarchicalRepulsion">hierarchicalRepulsion</option></select></div><div class="vis-configuration vis-config-item vis-config-s2"><div class="vis-configuration vis-config-label vis-config-s2">timestep:</div><input class="vis-configuration vis-config-range" min="0.01" max="1" step="0.01" type="range"><input class="vis-configuration vis-config-rangeinput"></div><div class="vis-configuration vis-config-option-container"></div><div class="vis-configuration vis-config-button">generate options</div></div></div>

    </body>

    <footer>

    </footer>
</main>