<head>
    <!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
    <!--<script src="javascripts/jsnetworkx.js"></script>-->
    <script src="javascripts/odometer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>


    <script src="javascripts/demo.js"></script>

    <link rel="stylesheet" href="stylesheets/odometer-theme-car.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href="stylesheets/demo.css">
</head>

<main>
    <header>

    </header>

    <body>

    <h1>Demo</h1>
    <button id="graph_button">Add Transaction</button>

    <span class="odometer">12</span>

    <div id="demo-graph"></div>

    </body>

    <footer>

    </footer>
</main>