<head>
    <!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
    <!--<script src="javascripts/jsnetworkx.js"></script>-->
    <script src="javascripts/odometer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>


    <script src="javascripts/demo.js"></script>

    <link rel="stylesheet" href="stylesheets/odometer-theme-car.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href="stylesheets/demo.css">
</head>

<main>
    <header>

    </header>

    <body>

    <h1>Scale-Out Distributed Ledger</h1>
    <table class="numbers_table">
        <tr class="labels">
            <td>Total #transactions</td>
            <td>Average #chains per proof</td>
            <td>Average #blocks per proof</td>
            <td>Average |Set C|</td>
        </tr>
        <tr class="numbers">
            <td><div class="odometer_wrapper"><span class="odometer transactions"></span></div></td>
            <td><div class="odometer_wrapper"><span class="odometer chains"></span></div></td>
            <td><div class="odometer_wrapper"><span class="odometer blocks"></span></div></td>
            <td><div class="odometer_wrapper"><span class="odometer setC"></span></div></td>
        </tr>
    </table>

    <div id="demo-graph"></div>
    <br>
    <div id="config"></div>

    </body>

    <footer>
        <button id="saveButton">Save data</button>
    </footer>
</main>